
img {
    height: 100px;
    width: 100px;
  }
  .btable {
    background-color: blanchedalmond;
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 250px;
    width: 40%;
  
  
  }
  button{
    background-color: black;
    color: white;

  }
  tr,th,td{
    border: 1px solid black;
  }
  #tab{
    width: 60%;
    margin-left: 200px;
    margin-top: 50px;
  }
  
