<!--<html>
<body>
<h1>{{title}}</h1> 

</body>
</html> 
<app-product-list></app-product-list> --> 

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <!-- Assignment-1 <app-penthouse></app-penthouse>  <app-welcome></app-welcome>   -->

  
  <!-- Assignment-2 <app-animal-list></app-animal-list>   --> 

  <!-- Assignment-3 <products-list></products-list>-->

  <app-event-list></app-event-list>
  
 <!-- <app-event-list></app-event-list> --> 
 
<!--<products-list (OnProductSelection)="onProductSelection($event)"></products-list> <app-cart [products]="products"></app-cart>  --> 
 
</body>
</html>